.navbar{
    background-color: #f9f5f5;
    .navbar-brand{
        margin-left:60px;
    }
    .navbar-nav{
        li{
            margin-left: 15px;
        }
        

    }
    .d-flex button{
        border-radius: 20px;
        font-weight: 400px;
        width: 125px;
        height: 45px;
        margin: 15px 20px;
    
    }
}

.container-one{

    .star{
       
        position: absolute;
        margin-left: 400px;
        margin-top: 80px;
        width: 40px;
        height: 40px;
    }
    h2{
        font-weight: 500;
        font-size: 70px;
    }
    h4{
        margin-top: 100px;
    }
    button{
        border-radius: 20px;
        width: 155px;
        height: 45px;
    }
    .btn-1{
        width: 125px;
        height: 45px;
        margin-right: 25px;
    }
   
    span{
        color:hsla(216, 87%, 56%, 1);
    }
    .elips-8{
        position: absolute;
        margin-left: 600px;
        margin-top: 60px;
        width: 25px;
        height: 25px;

    }
    #btc-img{
        width: 1200px;
        height: 700px;
    }
}
.elips-10{
    margin-top: 500px;
    position: absolute;
    width: 25px;
    height: 25px;
}